<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= link_to( "http://hextcg.com/pvp-champions-ardent/", target: "_blank") do %>
        <%= image_tag "carousel/ArdentChampions.png" %>
        <div class="carousel-caption">
          <p>PVP Champions - Ardent</p>
        </div>
      <% end %>
    </div>
    <div class="item">
      <%= link_to( "http://hextcg.com/art-feature-the-shinhare/", target: "_blank") do %>
        <%= image_tag "carousel/ShinHare.png"%>
        <div class="carousel-caption">
          <p>Art Feature: The Shin'Hare</p>
        </div>
      <% end %>
    </div>
    <div class="item">
      <%= link_to( "http://hextcg.com/pvp-champions-underworld/", target: "_blank") do %>
        <%= image_tag "carousel/UnderworldChampions.png"%>
        <div class="carousel-caption">
          <p>PVP Champions - Underworld</p>
        </div>
      <% end %>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>