<div class="row">
  <div class="span4">
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'well'} ) do |f| %>
      <fieldset>
        <legend>Sign In</legend>
        <%= f.input :email, :autofocus => true %>
        <%= f.input :password %>
        <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
        <div class="form-actions">
          <%= f.button :submit, "Sign in", class: 'btn btn-primary' %>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="span8">
  </div>
</div>