<tr>
  <td>
    <i class="icon-<%= card.color.name %>"></i>
    <strong>
      <%= link_to card.name, card, data: { content: "#{image_tag("cards/shards_of_fate/"+card.image)}", html: true }, class: "card" %>
    </strong>
    <% if card.traits.any? %>
      <small>
        -
        <% card.traits.each do |k| %>
          <%= k.name %>
        <% end %>
      </small>
    <% end %>
  </td>
  <td>
    <% card.types.each do |t| %>
      <%= t.name %>
    <% end %>
  </td>
  <td><%= card.cost %></td>
  <td>
    <% card.collections.each do |c| %>
      <%= c.name %>
    <% end %>
  </td>
</tr>