<tr>
  <td>
    <%= image_tag "icon"+card.color+".png", size: "20x20" %>
    <strong><%= link_to card.name, card %></strong> - 
    <small><%= card.trait %></small>
  </td>
  <td><%= card.card_type %></td>
  <td><%= card.cost %></td>
  <td><%= card.set_number %></td>
</tr>