<tr>
  <td>
    <%= image_tag "icon"+card.color.name+".png", size: "20x20" %>
    <strong><%= link_to card.name, card %></strong> - 
    <small>
      <% card.traits.each do |k| %>
        <%= k.name %>
      <% end %>
    </small>
  </td>
  <td>
    <% card.types.each do |t| %>
      <%= t.name %>
    <% end %>
  </td>
  <td><%= card.cost %></td>
  <td>
    <% card.collections.each do |c| %>
      <%= c.name %>
    <% end %>
  </td>
</tr>