<% provide(:title, @card.name) %>

<h1><%= @card.name %></h1>

<div class="row">
  <div class="span4">
    <%= image_tag "cards/"+@card.image %>
  </div>
  <div class="span4">
    <h3><%= @card.card_type %> - <%= @card.trait %></h3>
    <p><%= @card.attack %>ATK / <%=@card.defense %>DEF</p>
  </div>
</div>