<% provide(:title, @card.name) %>

<% if current_user.try(:admin) %>
  <%= link_to "Edit Card", edit_card_path, class: "btn btn-primary" %>
<% end %>

<div class="page-header">
  <h1><%= @card.name %></h1>
</div>

<div class="row">
  <div class="span4">
    <%= image_tag "cards/shards_of_fate/"+@card.image, class: "img-rounded" %>
  </div>
  <div class="span8">
    <%= render 'table' %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h5>Equipment</h5>
    <p>Coming Soon</p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h5>Comments (<%= @card.comments.count %>)</h5>
    <% if signed_in? %>
      <%= render 'comment_form' %>
    <% else %>
      <p><%= link_to "Sign in", signin_path, class: "btn btn-primary" %> to comment.</p>
    <% end %>
    <ul id="all-comments" class="unstyled">
      <%= render 'comments' %>
    </ul>
  </div>
</div>