<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <div id="logo">
          <a href='#' class='brand'>HexGuru</a>
        </div>
        <ul class="nav pull-right">
          <li class="active"><%= link_to "Home", root_path %></li>
          <li><%= link_to "Decks", '#' %></li>
          <li><%= link_to "Deck Builder", '#' %></li>
          <li><%= link_to "Streams", '#' %></li>
          <li><%= link_to "Sign Up", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>